/* Custom Discord Links */

.messageContent-2t3eCI a[href^="https://discord.com"]:not([href*="channels"])
{
    font-size: 0;
    line-height: 0;
    text-decoration: none;
}

.messageContent-2t3eCI a[href^="https://discord.com"]:not([href*="channels"])::after
{
    content: "Website | Discord";
    font-size: 11pt !important;
    line-height: 10px !important;
    background: var(--brand-experiment-30a);
    color: var(--brand-experiment-200);
    transition: background-color 50ms ease-out, color 50ms ease-out;
    cursor: pointer;
    border-radius: 3px;
    padding: 0 2px;
    font-weight: 500;
}

.messageContent-2t3eCI a[href^="https://support.discord.com"]
{
    font-size: 0;
    line-height: 0;
    text-decoration: none;
}

.messageContent-2t3eCI a[href^="https://support.discord.com"]::after
{
    content: "Support | Discord" !important;
    font-size: 11pt !important;
    line-height: 10px !important;
    background: var(--brand-experiment-30a);
    color: var(--brand-experiment-200);
    transition: background-color 50ms ease-out, color 50ms ease-out;
    cursor: pointer;
    border-radius: 3px;
    padding: 0 2px;
    font-weight: 500;
}

.messageContent-2t3eCI a[href^="https://discordstatus.com"]
{
    font-size: 0;
    line-height: 0;
    text-decoration: none;
}

.messageContent-2t3eCI a[href^="https://discordstatus.com"]::after
{
    content: "Status | Discord" !important;
    font-size: 11pt !important;
    line-height: 10px !important;
    background: var(--brand-experiment-30a);
    color: var(--brand-experiment-200);
    transition: background-color 50ms ease-out, color 50ms ease-out;
    cursor: pointer;
    border-radius: 3px;
    padding: 0 2px;
    font-weight: 500;
}

.messageContent-2t3eCI a[href^="https://discord.com"]:hover::after, .messageContent-2t3eCI a[href^="https://discordstatus.com"]:hover::after, .messageContent-2t3eCI a[href^="https://support.discord.com"]:hover::after
{
    color: #fff;
    background-color: var(--brand-experiment);
    font-size: 11pt !important;
    line-height: 10px !important;
    background: var(--brand-experiment-30a);
    color: var(--brand-experiment-200);
    transition: background-color 50ms ease-out, color 50ms ease-out;
    cursor: pointer;
    border-radius: 3px;
    padding: 0 2px;
    font-weight: 500;
}

.messageContent-2t3eCI a[href^="https://discord.com/tos"]::after
{
    content: "Terms of Service | Discord" !important;
    color: #fff;
    background-color: var(--brand-experiment);
    font-size: 11pt !important;
    line-height: 10px !important;
    background: var(--brand-experiment-30a);
    color: var(--brand-experiment-200);
    transition: background-color 50ms ease-out, color 50ms ease-out;
    cursor: pointer;
    border-radius: 3px;
    padding: 0 2px;
    font-weight: 500;
}

.messageContent-2t3eCI a[href^="https://discord.com/terms"]::after
{
    content: "Terms of Service | Discord" !important;
    color: #fff;
    background-color: var(--brand-experiment);
    font-size: 11pt !important;
    line-height: 10px !important;
    background: var(--brand-experiment-30a);
    color: var(--brand-experiment-200);
    transition: background-color 50ms ease-out, color 50ms ease-out;
    cursor: pointer;
    border-radius: 3px;
    padding: 0 2px;
    font-weight: 500;
}

.messageContent-2t3eCI a[href^="https://discord.com/nitro"]::after
{
    content: "Nitro | Discord" !important;
    color: #fff
    background-color: var(--brand-experiment);
    font-size: 11pt !important;
    line-height: 10px !important;
    background: var(--brand-experiment-30a);
    color: var(--brand-experiment-200);
    transition: background-color 50ms ease-out, color 50ms ease-out;
    cursor: pointer;
    border-radius: 3px;
    padding: 0 2px;
    font-weight: 500;
}

.messageContent-2t3eCI a[href^="https://discord.com/safety"]::after
{
    content: "Safety & Security | Discord" !important;
    color: #fff
    background-color: var(--brand-experiment);
    font-size: 11pt !important;
    line-height: 10px !important;
    background: var(--brand-experiment-30a);
    color: var(--brand-experiment-200);
    transition: background-color 50ms ease-out, color 50ms ease-out;
    cursor: pointer;
    border-radius: 3px;
    padding: 0 2px;
    font-weight: 500;
}

.messageContent-2t3eCI a[href^="https://discord.com/blog"]::after
{
    content: "Blog | Discord" !important;
    color: #fff
    background-color: var(--brand-experiment);
    font-size: 11pt !important;
    line-height: 10px !important;
    background: var(--brand-experiment-30a);
    color: var(--brand-experiment-200);
    transition: background-color 50ms ease-out, color 50ms ease-out;
    cursor: pointer;
    border-radius: 3px;
    padding: 0 2px;
    font-weight: 500;
}

.messageContent-2t3eCI a[href^="https://discord.com/jobs"]::after
{
    content: "Jobs | Discord" !important;
    color: #fff
    background-color: var(--brand-experiment);
    font-size: 11pt !important;
    line-height: 10px !important;
    background: var(--brand-experiment-30a);
    color: var(--brand-experiment-200);
    transition: background-color 50ms ease-out, color 50ms ease-out;
    cursor: pointer;
    border-radius: 3px;
    padding: 0 2px;
    font-weight: 500;
}

.messageContent-2t3eCI a[href^="https://discord.com/branding"]::after
{
    content: "Branding | Discord" !important;
    color: #fff
    background-color: var(--brand-experiment);
    font-size: 11pt !important;
    line-height: 10px !important;
    background: var(--brand-experiment-30a);
    color: var(--brand-experiment-200);
    transition: background-color 50ms ease-out, color 50ms ease-out;
    cursor: pointer;
    border-radius: 3px;
    padding: 0 2px;
    font-weight: 500;
}

.messageContent-2t3eCI a[href^="https://store.rtrix.eu/"]::after
{
    content: "Rtrix.eu | Store" !important;
    color: #fff
    background-color: var(--brand-experiment);
    font-size: 11pt !important;
    line-height: 10px !important;
    background: var(--brand-experiment-30a);
    color: var(--brand-experiment-200);
    transition: background-color 50ms ease-out, color 50ms ease-out;
    cursor: pointer;
    border-radius: 3px;
    padding: 0 2px;
    font-weight: 500;
}

.messageContent-2t3eCI a[href^="https://dsc.gg/rtrix"]::after
{
    content: "Rtrix.eu | Discord" !important;
    color: #fff
    background-color: var(--brand-experiment);
    font-size: 11pt !important;
    line-height: 10px !important;
    background: var(--brand-experiment-30a);
    color: var(--brand-experiment-200);
    transition: background-color 50ms ease-out, color 50ms ease-out;
    cursor: pointer;
    border-radius: 3px;
    padding: 0 2px;
    font-weight: 500;
}

.messageContent-2t3eCI a[href^="https://store.rtrix.eu/"]::after
{
    content: "Rtrix.eu | Store" !important;
    color: #fff
    background-color: var(--brand-experiment);
    font-size: 11pt !important;
    line-height: 10px !important;
    background: var(--brand-experiment-30a);
    color: var(--brand-experiment-200);
    transition: background-color 50ms ease-out, color 50ms ease-out;
    cursor: pointer;
    border-radius: 3px;
    padding: 0 2px;
    font-weight: 500;
}

.messageContent-2t3eCI a[href^="https://github.com/"]::after
{
    content: "Website | GitHub" !important;
    color: #fff
    background-color: var(--brand-experiment);
    font-size: 11pt !important;
    line-height: 10px !important;
    background: var(--brand-experiment-30a);
    color: var(--brand-experiment-200);
    transition: background-color 50ms ease-out, color 50ms ease-out;
    cursor: pointer;
    border-radius: 3px;
    padding: 0 2px;
    font-weight: 500;
}
